<div class="containter">
    <div class="side-bar">
        <div class="container-sidebar">
            <div class="hi">
                <tui-svg src="tuiIconHeadphonesLarge"></tui-svg>
                <h1 class="logo">Musicale</h1>
            </div>
            

            <div class="home">
                <div class="hi">
                    <tui-svg src="tuiIconHomeLarge"></tui-svg>
                    <p class="text">Home</p>
                </div>
                <div class="hi">
                    <tui-svg src="tuiIconAlignLeftLarge"></tui-svg>
                    <p class="text">Recommendation</p>
                </div>
                <div class="hi">
                    <tui-svg src="tuiIconTrendingUpLarge"></tui-svg>
                    <p class="text">Trending</p>
                </div>
            </div>

            <div class="collection">
                <p class="title">COLLECTION</p>
                <div class="hi">
                    <tui-svg src="tuiIconPlayLarge"></tui-svg>
                    <p class="text">Playlist</p>
                </div>
                <div class="hi">
                    <tui-svg src="tuiIconHeartLarge"></tui-svg>
                    <p class="text">Liked</p>
                </div>  
            </div>

            <div class="discover">
                <p class="title">DISCOVER</p>
                <div class="hi">
                    <tui-svg src="tuiIconUserLarge"></tui-svg>
                    <p class="text">Artist</p>
                </div> 
                <div class="hi">
                    <tui-svg src="tuiIconCreditCardLarge"></tui-svg>
                    <p class="text">Album</p>
                </div> 
                <div class="hi">
                    <tui-svg src="tuiIconGridLarge"></tui-svg>
                    <p class="text">Genre</p>
                </div> 
            </div>
        </div>


    </div>
    <div class="main">
        <div class="container-main">
            <div class="search">
                <tui-input tuiHintDirection="bottom-right" tuiTextfieldIconLeft="tuiIconSearchLarge" class="input"
                    [tuiTextfieldCleaner]="true" tuiTextfieldSize="m">
                    Search your favorites song or artist
                    <input tuiTextfield />
                </tui-input>

            </div>

            <div class="cover">
                <img class="image"
                    src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/130004474/original/3a1ef6fea53bd22bf52cc065ee2b60137aec5c6c/create-your-single-ep-or-album-cover-artwork.jpg">
            </div>
            <div class="list">
                <h2>Now Playing</h2>
                <div class="container-list">
                    <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div>
                    <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div> <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div> <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div> <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div> <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div> <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div> <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div> <div class="music-1">
                        <p class="stt">1</p>
                        <div class="music-info">
                            <img class="img-music" src="https://i1.sndcdn.com/artworks-000402447507-zyjqsu-t500x500.jpg" />
                            <p>Startboy</p>
                        </div>
                        
                        <p class="name-tacgia">The Weekend</p>
                        <p class="category">AfterHours</p>
                        <p class="time">3:20</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lyrics">
        <div class="container-lyrics">
            <div class="user">
                <img class="avt" src="https://media-cdn-v2.laodong.vn/storage/newsportal/2023/7/25/1220914/Rose.jpg" >
                <p class="name">Roseanne Park MBE</p>
                <tui-svg  class="icon-user" src="tuiIconChevronDown"></tui-svg>
               
            </div>
            <div class="img-songwriter">
                <img class="avt-songwriter" src="https://vtv1.mediacdn.vn/zoom/640_400/2023/3/23/230323-the-weeknd-1679544409036947761810-crop-16795444169321852714194.jpg">
            </div>
            <div class="about">
                <h2>Cold Play</h2>
                <p class="about-info">Abel Makkonen Tesfaye, được biết đến với nghệ danh The Weeknd, là một ca sĩ, nhạc sĩ sáng tác bài hát và nhà sản xuất thu âm người Canada. Anh được nhiều người biết đến nhờ vào cách sản xuất âm nhạc độc đáo, những sáng tạo nghệ thuật và quãng giọng falsetto đặc trưng của anh.</p>
            </div>
            <div class="social">
                <h2>Social Media</h2>
                <div class="social-detail">
                    <tui-svg class="social-icon" src="tuiIconFacebookLarge"></tui-svg>
                    <p class="social-text">Facebook</p>
                </div>
                <div class="social-detail">
                    <tui-svg class="social-icon" src="tuiIconYoutubeLarge"></tui-svg>
                    <p class="social-text">Youtube</p>
                </div>
                <div class="social-detail">
                    <tui-svg class="social-icon" src="tuiIconInstagramLarge"></tui-svg>
                    <p class="social-text">Instagram</p>
                </div>
            </div>
        </div>

    </div>
</div>